@import "variables";

.card-course-item {
  margin-top: 16px;
}

.card-body {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

.img-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-left: 4px;
}

.checkbox-select-all-options {
  width: 160px;
  margin: 0 16px;
}
